@inherits LayoutComponentBase
@using SearchInput
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <SearchInput></SearchInput>
            
        </div>

        <div class="content px-4 m-0">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    
    ClaimsPrincipal client;
    protected override async Task OnInitializedAsync()
    {
        client = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
    }
}
